body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins" sans-serif;
  font-family: montserrat;
}

body div#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Poppins:wght@200;300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--text-black-100);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--skin-color);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(131, 131, 131);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
}

::before,
::after {
  box-sizing: border-box;
}
